@import "variables";
body, .form-control, .btn, .dropdown-item {
    font-weight: 100;
}

.navbar-brand, h1, h2, h3, h4, h5 {
    font-weight: 300;
}

a {
    color: #4B0082;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
        color: #FF1493;
        text-decoration: none;
    }
}

.first-line-outdent {
    margin-left: 1.25rem;
    text-indent: -1.25rem;
}

.btn-tag {
    margin: 0 0 0.25rem 0;
}

.badge-tag {
    cursor: pointer;
    font-weight: 700;
    background-color: #d9534f;
    border: none;
    margin: 0 0 0.25rem 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &:hover {
      background-color: #c9302c;
    }
}

.card {
    .card-img-frame {
        overflow: hidden;
        .card-img-top {
            max-width: 100%;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover {
                cursor: crosshair;
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    .card-body {
        img {
            max-width: 100%;
            border: 1px solid #D3E0E9;
            border-radius: calc(0.25rem - 1px);
        }
    }
}

.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
}

.ui-autocomplete {
    padding: 0.25rem 0;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99 !important;
}

.ui-tooltip {
    color: $light;
    padding: 0 1rem;
    background: rgba($gray, 0.8);
    border: 1px solid $light;
    box-shadow: none;
}

#scroll-to-top {
    color: $light;
    font-size: 2rem;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba($warning, 0.8);
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    &:hover {
        cursor: pointer;
        color: $warning;
        background-color: inherit;
        border: 1px solid $warning;
    }
}

#footer {
    color: $light;
    background-color: $gray;
    padding: 1.875rem;
}